.layout {
  min-height: 100vh;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.row {
  flex: 1;
}

.col {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: 16px;
}


.footer {
  color: #d4d4d4 !important;
  background-color: #0e0e0e !important;
  padding: 20px 0;
  text-align: center;
  margin-top: 300px;
}

header a {
  color: #d4d4d4;
}

header a:hover, header a:focus {
  color: #ffffff;
}